body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.header{
    flex-basis: 100%;
    background-color: blue;
    
}
.sidebar{
    flex-basis: 15%;
    background-color: brown;
}
.content{
    flex-basis: 85%;
    text-indent: 10px;
    background-color: blueviolet;   
    
}
.footer{
    flex-basis: 100%;
    background-color: aqua;   
}
.imgJava{
    height: auto;
    max-width: 25%;
    width: auto;
}

/* --------------------- Pour tablette ----------------------*/
@media screen and (max-width: 991.99px){
    .content{
        flex-basis: 100%;
    }
    .sidebar{
        flex-basis: 100%;
        order: 1;
    }
    .footer{
        order: 2;
    }
/* --------------------- Pour smartphone --------------------*/
@media screen and (max-width: 750px) {
    .content{
        flex-basis: 100%;
    }
    .sidebar{
        flex-basis: 100%;
        order: 1;
    }
    .footer{
        order: 2;
    }
}
}